*{
    box-sizing: border-box;
}

body{
    /* display: flex;  */
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    margin-top: 30vh;
    width: 90vw;
        
}

#margherita{
    background-image: url(../images/margherita.jpg);
}
#pepperoni{
    background-image: url(../images/Pepperoni.jpg);
}
#grilled-chicken{
    background-image: url(../images/grilled-chicken.jpg);
}
#mexican-chicken{
    background-image: url(../images/mexican-chicken.jpg);
}
#shrimp{
    background-image: url(../images/shrimp.jpg);
}

.panel{
    height: 90vh;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    margin: 5px;
    flex: .5;
    position: relative;
    cursor: pointer;
    transition: flex 700ms ease-in;
}

.panel h3{
    position: absolute;
    bottom: 5px;
    left: 5px;
    margin: 0;
    opacity:0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
    background-color: rgb(41, 77, 59);
    border-radius: 5px;
}

@media(max-width: 480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}